{% extends "mlm_account_base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
<div class="normalheader transition animated fadeIn">
  <div class="hpanel">
    <div class="panel-body">
      <a class="small-header-action" href="">
          <div class="clip-header">
            <i class="fa fa-arrow-up"></i>
          </div>
      </a>
  		<div class="breadcrumbs">
  			<a href="{% url 'index' %}">{% trans 'Home' %}</a>
  			&rsaquo; {% trans 'Password reset' %}
  		</div>
    </div>
  </div>
</div>

<div class="content animate-panel">
  <div class="row">
    <div class="col-lg-12">
      <div class="hpanel">
        <div class="panel-body">
          <p>{% trans "Your password has been set.  You may go ahead and log in now." %}</p>
          <p><a class="btn btn-primary" href="{{ login_url }}">{% trans 'Log in' %}</a></p>
		    </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
