{% extends "mlm_account_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}

<div class="login-container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center m-b-md">
        <h3>Восстановление пароля</h3>
        <small>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</small>
      </div>
      <div class="hpanel">
      	<div class="panel-body">
	    		<form method="post" class="form-group">
						{% csrf_token %}
						{{ form.email.errors }}
						<p>
							{{ form|crispy }}
							<input class="btn btn-primary2 btn-block" type="submit" value="{% trans 'Reset my password' %}" />
						</p>
					</form>
      	</div>
      </div>
		</div>
	</div>
</div>
{% endblock %}
