{% extends "mlm_account_base.html" %}
{% load i18n %}

{% load crispy_forms_tags %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset confirmation' %}
</div>
{% endblock %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>

			<div class="breadcrumbs">
				<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
				&rsaquo; {% trans 'Password reset confirmation' %}
			</div>
        </div>
    </div>
</div>


<div class="login-container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center m-b-md">
        <h3>Восстановление пароля</h3>
      </div>
      <div class="hpanel">
    	   <div class="panel-body">
	    		{% if validlink %}

					<p>{% trans "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

					<form method="post">{% csrf_token %}
					<!--
					{{ form.new_password1.errors }}
					<p class="aligned wide"><label for="id_new_password1">{% trans 'New password:' %}</label>{{ form.new_password1 }}</p>
					{{ form.new_password2.errors }}
					<p class="aligned wide"><label for="id_new_password2">{% trans 'Confirm password:' %}</label>{{ form.new_password2 }}</p>
					-->
					{{form|crispy}}
					<p><input class="btn btn-success" type="submit" value="{% trans 'Change my password' %}" /></p>
					</form>
					{% else %}
					<p>{% trans "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>
					{% endif %}
      	</div>
      </div>
		</div>
	</div>
</div>
{% endblock %}
{% block custom_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $("#id_new_password1").addClass("form-control");
        $("#id_new_password2").addClass("form-control");
        $(".errorlist").addClass('alert alert-danger');
        alert('I`ts work!!!')
    });
    // $('#id_new_password1').addClass('form-control');
    // $('#id_new_password2').addClass('form-control');
</script>
{% endblock %}
