{% extends "mlm_account_base.html" %}
{% load crispy_forms_tags %}
{% load i18n static %}

{% block title %}{{ title }} | {{ block.super }}{% endblock %}

{% block content %}
<div id="content-main">
    <form method="post">{% csrf_token %}
    <p>{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>
    {{form|crispy}}
    <input type="submit" value="{% trans 'Change my password' %}" class="btn btn-success" />
    </form>
</div>
{% endblock %}
