{% extends "mlm_base_index.html" %}

{% block title %} {% endblock %}

{% block content %}
  <div class="hpanel">
    <div class="panel-body">
      <form class="form-horizontal" action="." method="post">
        {% csrf_token %}
        <div class="form-group">
          <label class="col-sm-2 control-label" for="">Тема</label>
          <div class="col-sm-10">
            <input type="text" name="subject" class="form-control">
          </div>
        </div>
        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <label for="" class="col-sm-2 control-label">Текст</label>
          <div class="col-sm-10">
            <textarea name="content" rows="8" cols="80" class="form-control"></textarea>
          </div>
        </div>

        <div class="hr-line-dashed"></div>
        <div class="form-group">
          <div class="col-sm-8 col-sm-offset-2">
            <button type="submit" class="btn btn-primary">Отправить</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
