{% extends "mlm_base_index.html" %}

{% block title %} Support - MLM-CONNECT {% endblock %}

{% block content %}
<div class="register-container">
	<div class="row">
		<div class="col-md-12">
			<div class="text-center m-b-md">
				<h3>Форма обратной связи</h3>
				<small>Здесь вы можете отправить нам сообщение</small>
			</div>
			<div class="hpanel">
				<div class="panel-body">
					<form class="form-horizontal" role="form" method="post" action=".">
					{% csrf_token %}
                    <div class="form-group">
                        <label for="name" class="col-sm-2 control-label">Имя</label>

                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="name" name="name" placeholder="Ваше полное имя" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="col-sm-2 control-label">Email</label>

                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="email" name="email" placeholder="user@example.com" value="">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="message" class="col-sm-2 control-label">Сообщение</label>

                        <div class="col-sm-10">
                            <textarea class="form-control" rows="3" name="message" placeholder="Оставте свое сообщение здесь..."></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input id="submit" name="submit" type="submit" value="Отправить сообщение" class="btn btn-success">
                        </div>
                    </div>
                </form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}