{% extends 'mlm_base_index.html' %}
{% load crispy_forms_tags %}

{% block title %} Разместить баннер {% endblock %}

{% block content %}

<div class="content animate-panel">
	<div class="row">
		<div class="col-md-12">
			<div class="hpanel">
				<div class="panel-heading">
					<h3>Форма розмищения баннера</h3>
				</div>
				<div class="panel-body">
					<div class="table-responsive">
		                <table cellpadding="1" cellspacing="1" class="table">
		                    <thead>
		                    <tr>
		                        <th>Баннер</th>
		                        <th>Расположение</th>
		                        <th>Стоимость</th>
		                    </tr>
		                    </thead>
		                    <tbody>
		                    <tr>
		                        <td>Вверхний</td>
		                        <td>Вверху (Динамичный 728x90)</td>
		                        <td>$5/день</td>
		                        
		                    </tr>
		                    <tr>
		                        <td>Центральный</td>
		                        <td>В центре (Динамичный 468х60)</td>
		                        <td>$3/день</td>
		                        
		                    </tr>
		                    <tr>
		                        <td>Нижний</td>
		                        <td>В низу (Динамичный 125х125)</td>
		                        <td>$1/день</td>
		                        
		                    </tr>
		                    </tbody>
		                </table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="content animate-panel">
	<div class="row">
		<div class="col-md-12">
			<div class="hpanel">
				<div class="panel-body">
					<form class="form-horizontal" method="post" action="." enctype="multipart/form-data">
						{% csrf_token %}
						{{form|crispy}}
						<input type="hidden" name="price" value="0" id='price'>
						
				        <button type="submit" class="btn btn-primary" disabled>Готово</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
	$(document).ready(function(){
		$('select').change(function(){
			var pay = $(this).val();
			$("#price").val(pay);
			$("#id_money").val(0).prop('value', 0);
			$("#id_time").val(0);
		});

		$("#id_time").keyup(function(){
			var days = $(this).val();
			var price = $("#price").val();
			var paypal = days * price;
			
			if (paypal > 0) {
				$('button').prop('disabled', false);
			} else {
				$('button').prop('disabled', true);
			}
			$("#id_money").attr('value', paypal).val(paypal);
		});
	});
</script>
{% endblock %}