{% extends "mlm_base_index.html" %}
{% load static %}
{% load current_tags %}

{% block title %} {{name}} {% endblock %}

{% block content %}

<div class="content animate-panel">
    <div class="row">
        <div col-lg-12>
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                <i class="{{tag}}"></i> {{name}}
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                        {% for company in cat_filter %}
                            <div class="col-lg-4 col-md-6">
                                <div class="hpanel">
                                    <div class="panel-heading">{{company.company_name}}</div>
                                    <div class="panel-body" id='panel-body'>
                                    <a href="{% url 'company_detail' company.slug %}">
                                      {% if company.company_img %}
                                        <img src="{{company.company_img.url}}" class="img-responsive" alt="{{company.company_name}}">
                                      {% else %}
                                        <img src="{% static 'image/service-1.jpg' %}" class="img-responsive" alt="{{company.company_name}}">
                                      {% endif %}
                                    </a>
                                    </div>
                                    <div class="panel-footer">
                                        <i class="pe-7s-display1"></i>
                                        <span class="{{company.status|status_tag}}">
                                            {{company.status_dict}}
                                        </span>
                                        <i class="fa fa-comments-o pull-right">
                                            {{company.comments|length}}
                                        </i>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    {% if cat_filter.has_other_pages %}
                      <ul class="pagination">
                        {% if cat_filter.has_previous %}
                          <li><a href="?page={{ cat_filter.previous_page_number }}">&laquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&laquo;</span></li>
                        {% endif %}
                        {% for i in cat_filter.paginator.page_range %}
                          {% if cat_filter.number == i %}
                            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                          {% else %}
                            <li><a href="?page={{ i }}">{{ i }}</a></li>
                          {% endif %}
                        {% endfor %}
                        {% if cat_filter.has_next %}
                          <li><a href="?page={{ cat_filter.next_page_number }}">&raquo;</a></li>
                        {% else %}
                          <li class="disabled"><span>&raquo;</span></li>
                        {% endif %}
                      </ul>
                    {% endif %}

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
