{% extends 'mlm_base_index.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load markdown_deux_tags %}
{% load current_tags %}

{% block title %} {{single.company_name}} {% endblock %}

{% block site_url %} http://www.mlm-conect.net/company_detail/{{single.slug}} {% endblock %}
{% block title_company %} {{single.company_name}} {% endblock %}
{% block site_description %}
    {% if single.company_description %}
        {{single.company_description}}
    {% else %}
        {{single.type_payments}}
    {% endif %}
{% endblock %}
{% block site_img %}
  http://www.mlm-conect.net
    {% if single.company_img %}
      {{single.company_img.url}}
    {% else %}
      {% static "image/service-1.jpg" %}
    {% endif %}
{% endblock %}

{% block scripts %}
<div id="fb-root"></div>
<script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

{% endblock %}

{% block content %}
<!-- Main Wrapper -->
<div class="row">
    <div class="col-md-12">
        <div class="font-bold m-b-sm">
            О проекте
        </div>
        <div class="hpanel">
            <div class="panel-body">
                <div class="pull-right">
                    <a href="{{single.referal_url}}" class="btn btn-success btn-xs" target="_blank">
                      <i class="fa fa-eye"></i> Посмотреть
                    </a>
                    <a href="{% url 'scam' single.slug %}" class="btn btn-danger btn-xs">
                        <i class="fa fa-pencil"></i> Сообщить о скаме
                    </a>
                </div>
                <h2 class="m-t-none"> {{single.company_name}} </h2>
                <div class="small m-t-xs">
                    <strong>Тип выплат:</strong>
                    {{single.type_payments}}
                    <br>
                    <strong>Платежные системы:</strong>
                    {{single.payment_system}}
                </div>
                <div class="m-t-md">
                  {% if single.company_img %}
                    <img src="{{single.company_img.url}}" class="img-responsive" alt="{{single.company_name}}">
                  {% else %}
                    <img src="{% static 'image/service-1.jpg' %}" class="img-responsive" alt="{{single.company_name}}">
                  {% endif %}
                </div>

                {% if single.company_description %}
                    <br>
                    <small> {{single.company_description|markdown}} </small>
                {% endif %}
            </div>
            <div class="panel-footer">
                <div class="fb-like"
                    data-href="http://www.mlm-connect.net/company_detail/{{single.slug}}"
                    data-layout="button"
                    data-action="like"
                    data-size="small"
                    data-show-faces="true"
                    data-share="true">
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="font-bold m-b-sm">
            Детали проекта
        </div>
        <div class="hpanel stats">
            <div class="panel-body">
                <div>
                    <i class="pe-7s-cash fa-4x"></i>
                    <h3 class="m-xs {{single.status|status_tag}}">{{single.status_dict}}</h3>
                </div>
                <p>
                    <strong>Реферальная програма:</strong>
                    {{single.referal_program}}
                </p>
                <p>
                    <strong>Тарифы:</strong>
                    {{single.company_payment|markdown}}
                </p>
                <div class="row">
                    <div class="col-xs-6">
                        <strong class="stat-label">Минимальный вклад</strong>
                        <h4>
                            {{single.min_value}}
                            <i class="fa fa-level-up text-info"></i>
                        </h4>
                    </div>
                    <div class="col-xs-6">
                        <strong class="stat-label">Максимальный вклад</strong>
                        <h4>
                            {{single.max_value}}
                            <i class="fa fa-level-up text-success"></i>
                        </h4>
                    </div>
                </div>
            </div>
        </div>
        {% if single.video %}
            <div align="center">
                <iframe width="250" height="185" align="center"
                    src="https://www.youtube.com/embed/{{single.video}}">
                </iframe>
            </div>
        {% endif %}
    </div>
    <div class="col-md-12">
        <div class="hpanel">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a data-toggle='tab' href="#tab1" aria-expanded="true">
                        <i class="fa fa-comments-o"></i> Коментарии
                    </a>
                </li>
                <li>
                    <a data-toggle="tab" href="#tab2" aria-expanded="true">
                        <i class="fa fa-dollar"></i> Вклад/Выплаты
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab1" class="tab-pane active">
                    {% if user.is_authenticated %}
                    <div class="animate-panel">
                      <div class="comment-form hpanel">
                          <div class="contact-form panel-heading">
                              <form action="." method="post" role="form">
                                  {% csrf_token %}
                                  <div class="form-group">
                                      {{comment_form|crispy}}
                                  </div>
                                  <button class="btn btn-primary pull-left" type="submit">Отправить</button>
                              </form>
                          </div>
                      </div>
                    </div>
                    {% endif %}
                    <br>
                    {% if comment_list %}
                    <div class="animate-panel">
                        <div class="comment-post hpanel forum-box">
                          {% for comment in comment_list %}
                            <div class="panel-body">
                                <div class="media">
                                    <div class="media-image pull-left">
                                        {% if comment.user.profile.avatars %}
                                        <img src="{{comment.user.profile.avatars.url}}" class="" alt="{{comment.user.username}}">
                                        {% endif %}
                                        <div class="author-info">
                                            <strong>{{comment.user}}</strong>
                                            <br>
                                            {{comment.timestamp|date}}
                                            <br>
                                            o {{comment.timestamp|time}}
                                        </div>
                                    </div>
                                    <div class="media-body">
                                        {{comment.content|markdown}}
                                        <br>
                                        <br>
                                        <i>
                                        <a class="comment-reply-btn btn btn-default btn-block" href="#">
                                            <i class="fa fa-reply"></i>
                                        </a>
                                        </i>
                                        <div class="forum-comments" style="display:none;">
                                        {% for child_comment in comment.children %}
                                            <div class="media">
                                                {% if child_comment.user.profile.avatars.url %}
                                                <a class="pull-left">
                                                    <img src="{{child_comment.user.profile.avatars.url}}" alt="{{child_comment.user.username}}">
                                                </a>
                                                {% endif %}
                                                <div class="media-body">
                                                    <span class="font-bold">{{child_comment.user}}</span>
                                                    <small class="text-muted">
                                                        {{ child_comment.timestamp|timesince }} назад
                                                    </small>
                                                    <div class="social-content">
                                                        {{child_comment.content|markdown}}
                                                    </div>
                                                </div>
                                            </div>
                                        {% endfor %}
                                        {% if user.is_authenticated %}
                                            <form method="post" action="." role="form">
                                                {% csrf_token %}
                                                {{ comment_form|crispy }}
                                                <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                                                <input type='submit' value='Ответить' class='btn btn-primary'>
                                            </form>
                                        {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endif %}
                </div>
                <div id="tab2" class="tab-pane">
                    <div class="animate-panel">
                      <div class="hpanel panel-heading">
                        <div class="font-bold m-b-sm">
                            Выплаты
                        </div>
                      </div>
                    </div>
                    <div class="hpanel stats">
                        {% for pay in payment_sing %}
                        <div class="panel-body">
                            <div>
                                {{pay.timestamp|date:'d.m.y'}} | {{pay.timestamp|time}}
                            </div>
                            {% if pay.image %}
                            <div>
                                <img src="{{pay.image.url}}" class="img-responsive" alt="{{pay.company.company_name}}">
                            </div>
                            {% else %}
                            <div>
                                <i class="fa fa-cash text-success 3x"> {{pay.value}}</i>
                            </div>
                            {% endif %}
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>






<!-- OLD HTML -->
<!--
    <div class="content animate-panel content-boxed">
        <div class="row">
            <div class="col-lg-12">
                <div class="hpanel blog-article-box">

                    <div class="panel-heading" id="panel-heading">
                        <div class="panel-image" align="center">
                            <img class="img-responsive" src="" alt="Not images in this company" align="center">

                        </div>
                        <h4>{{single.company_name }}</h4>
                        <div class="text-muted small">

                            Дата старта: {{single.date_joined}}
                        </div>
                        <div class="table-responsive m-t">
                            <table class="table table-striped">
                                <tbody>
                                    <tr>
                                        <td><strong>Листинг: </strong></td>
                                        <td>{{single.plan.name}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Реферальная програма: </strong></td>
                                        <td>{{single.referal_program}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Минимальный вклад: </strong></td>
                                        <td>{{single.min_value}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Максимальный вклад: </strong></td>
                                        <td>{{single.max_value}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Тип выплат: </strong></td>
                                        <td>{{single.type_payments}}</td>
                                    </tr>
                                    <tr>
                                        <td><strong>Платежные системы: </strong></td>
                                        <td id="payment_tag">
                                            {{single.payment_system}}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                    </div>

                    <div class="panel-body">
                        <p>
                            {{single.company_payment|markdown}}
                        </p>
                        {% if single.video %}
                        <div align="center">
                            <iframe width="420" height="315" align="center" src="https://www.youtube.com/embed/{{single.video}}">
                            </iframe>
                        </div>
                        {% endif %}
                        <br>
                        <div class="col-md-12">
                            <div class="col-md-6">
                                <a href="{{single.company_url}}" class='btn btn-primary btn-block' target="_blank">Открыть сайт компании</a>
                            </div>
                            <div class="col-md-6">
                                <a class="btn btn-danger btn-block" href="{% url 'scam' single.slug %}" type="submit">Сообщить о скаме</a>
                            </div>
                        </div>
                    </div>

                    <div class="panel-footer">
                        <span class="pull-right">
                            <i class="fa fa-comments-o"> </i> {{comment_list|length}} Коментариев
                        </span>
<<<<<<< HEAD
                            <div class="fb-like"
                                data-href="http://62.109.20.63/company_detail/{{single.slug}}"
                                data-layout="standard"
                                data-action="like"
                                data-size="small"
                                data-show-faces="true"
                                data-share="true">
=======
                            <div class="fb-like"
                                data-href="http://localhost/company_detail/{{single.slug}}"
                                data-layout="standard"
                                data-action="like"
                                data-size="small"
                                data-show-faces="true"
                                data-share="true">
>>>>>>> 42fcb41f7ee752fd076cab07b9bd4d46d3f5d2ee
                            </div>
                            <!-- Put this script tag to the place, where the Share button will be --><!--
                            <script type="text/javascript"><!--
                                document.write(VK.Share.button({
                                    url: "http://mlm-connect.net/company_detail/{{single.slug}}",
                                    title: "{{single.company_name}}"
                                },{type: "round", text: "Зберегти"}));
                            </script>

                            <!-- Put this div tag to the place, where the Like block will be --><!--
                            <div id="vk_like"></div>
                            <script type="text/javascript">
                            VK.Widgets.Like("vk_like", {type: "button"});
                            </script>
                    </div>
                </div>
-->
<!--
                {% if user.is_authenticated %}
                <div class="comment-form hpanel">

                    <div class="contact-form panel-heading">
                        <form action="." method="post" role="form">
                            {% csrf_token %}
                            <div class="form-group">
                                {{comment_form|crispy}}
                            </div>
                            <button class="btn btn-primary pull-left" type="submit">Отправить</button>
                        </form>
                    </div>
                </div>
                {% endif %}
                <br>
                {% if comment_list %}

                <div class="animate-panel">
                <div class="comment-post hpanel forum-box">
                  {% for comment in comment_list %}
                    <div class="panel-body">
                        <div class="media">
                            <div class="media-image pull-left">
                                <div class="author-info">
                                    <strong class="pull-left">{{comment.user}}</strong>
                                    <br>
                                    {{comment.timestamp}}
                                </div>
                            </div>
                            <div class="media-body">
                                {{comment.content|markdown}}
                                <br>
                                <br>
                                <i>
                                <a class="comment-reply-btn btn btn-default btn-block" href="#">
                                    <i class="fa fa-reply"></i>
                                </a>
                                </i>
                                <div class="forum-comments" style="display:none;">
                                {% for child_comment in comment.children %}
                                    <div class="media">
                                        <div class="media-body">
                                            <span class="font-bold">{{child_comment.user}}</span>
                                            <small class="text-muted">{{ child_comment.timestamp|timesince }} назад</small>
                                            <div class="social-content">
                                                {{child_comment.content|markdown}}
                                            </div>

                                        </div>
                                    </div>
                                {% endfor %}
                                {% if user.is_authenticated %}
                                    <form method="post" action="." role="form">
                                        {% csrf_token %}
                                        {{ comment_form|crispy }}
                                        <input type='hidden' name='parent_id' value='{{ comment.id }}'>
                                        <input type='submit' value='Ответить' class='btn btn-primary'>
                                    </form>
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                </div>
                {% endif %}


            </div>
        </div>
    </div>
-->

{% endblock %}

{% block custom_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        var array = $("#payment_tag").text();
        $("#payment_tag").html("<span class='label label-default'>"+array+"</span>")


    });
</script>
{% endblock %}
