{% extends "mlm_base_index.html" %}
{% load current_tags %}
{% load static %}


{% block title %} Все проекты {% endblock %}



{% block content %}


    <div class="row projects">
        {% for foo in company %}
            <div class="col-lg-12">
                <div class="hpanel">
                    <div class="panel-body">
                        <span class="label {{foo.status|label_tag}} pull-right">
                            {{ foo.status_dict }}
                        </span>
                        <div class="row">
                            <div class="col-md-8">
                                <a href="{% url 'company_detail' foo.slug %}">
                                    <h4>{{ foo.company_name }}</h4>
                                </a>
                                {% if foo.company_description %}
                                    <p>{{foo.company_description|truncatechars_html:100}}</p>
                                {% else %}
                                    <p>{{ foo.get_markdown|truncatechars_html:100 }}</p>
                                {% endif %}
                                <div class="row">
                                    <div class="col-sm-3">
                                        <div class="project-label">Минимальный вклад</div>
                                        {{ foo.min_value }}
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="project-label">Максимальный вклад</div>
                                        {{ foo.max_value }}
                                    </div>
                                    <div class="col-sm-3">
                                        <div class="project-label">Дата старта</div>
                                        {{foo.date_joined|date:'d.m.Y'}}
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 project-info">
                                <div class="">
                                {% if foo.company_img %}
                                    <img src="{{ foo.company_img.url }}" class="img-responsive" alt="">
                                {% else %}
                                  <img src="{% static 'image/service-1.jpg' %}" class="img-responsive" alt="">
                                {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if company.has_other_pages %}
          <ul class="pagination">
            {% if company.has_previous %}
              <li><a href="?page={{ company.previous_page_number }}">&laquo;</a></li>
            {% else %}
              <li class="disabled"><span>&laquo;</span></li>
            {% endif %}
            {% for i in company.paginator.page_range %}
              {% if company.number == i %}
                <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
              {% else %}
                <li><a href="?page={{ i }}">{{ i }}</a></li>
              {% endif %}
            {% endfor %}
            {% if company.has_next %}
              <li><a href="?page={{ company.next_page_number }}">&raquo;</a></li>
            {% else %}
              <li class="disabled"><span>&raquo;</span></li>
            {% endif %}
          </ul>
        {% endif %}


    </div>


{% endblock %}
