{% extends 'mlm_base_index.html' %}
{% load static %}
{% load current_tags %}
{% load i18n %}
{% block title %}{{ block.super }} | {% trans 'Мониторинг инвестиций' %} {% endblock %}
{% block content %}
{% if company_max %}
<div class="animate-panel">
    <div class="row">
        <div class="col-md-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                    <a href="{% url 'listing' premium_plan.id %}">
                        <i class="fa fa-star-o text-warning"></i> Премиум листинг
                    </a>
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                      {% for company in company_max %}
                        <div class="col-lg-4 col-md-6 col-sm-6">
                            <div class="hpanel">
                              <div class="panel-heading">{{company.company_name}}</div>
                              <div class="panel-body" id='panel-body'>
                              <a href="{% url 'company_detail' company.slug %}">
                                {% if company.company_img %}
                                  <img src="{{company.company_img.url}}" class="img-responsive" alt="{{company.company_name}}">
                                {% else %}
                                  <img src="{% static 'image/service-1.jpg' %}" class="img-responsive" alt="{{company.company_name}}">
                                {% endif %}
                              </a>
                              </div>
                              <div class="panel-footer">
                                <i class="pe-7s-display1"></i>
                                <span class="{{company.status|status_tag}}">
                                    {{company.status_dict}}
                                </span>
                                <i class="fa fa-comments-o pull-right">
                                    {{company.comments|length}}
                                </i>
                              </div>
                            </div>
                        </div>
                      {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
<div class="center-banner" align="center">
    {% for center_slide in banner %}
        {% if center_slide.pay == '3' %}
            {{center_slide.img_url|safe}}
        {% endif %}
    {% endfor %}
</div>
<br>
{% if company_active %}
<div class="animate-panel">
	<div class="row">
    	<div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                <a href="{% url 'status_filter' 'active' %}">
                    <i class="fa fa-money text-success"> </i> Платит
                </a>
                    <div class="panel-tools">
                        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                        <a class="closebox"><i class="fa fa-times"></i></a>
                    </div>
                </div>
                <div class="panel-body">
                    <div class="row">
                      {% for company in company_active %}
                        <div class="col-lg-4 col-md-6">
                          <div class="hpanel">
                            <div class="panel-heading">{{company.company_name}}</div>
                            <div class="panel-body" id='panel-body'>
                            <a href="{% url 'company_detail' company.slug %}">
                              {% if company.company_img %}
                                <img src="{{company.company_img.url}}" class="img-responsive" alt="{{company.company_name}}">
                              {% else %}
                                <img src="{% static 'image/service-1.jpg' %}" class="img-responsive" alt="{{company.company_name}}">
                              {% endif %}
                            </a>
                            </div>
                            <div class="panel-footer">
                              <i class="pe-7s-display1"></i>
                              <span class="{{company.status|status_tag}}">
                                  {{company.status_dict}}
                              </span>
                              <i class="fa fa-comments-o pull-right">
                                  {{company.comments|length}}
                              </i>
                            </div>
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                </div>
            </div>
        </div>
	</div>
</div>
{% endif %}
{% if company_expectation %}
<div class="animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                <a href="{% url 'status_filter' 'expectation' %}">
                    <i class="fa fa-clock-o text-info"></i> Ожидает
                </a>
                  <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    {% for company in company_expectation %}
                      <div class="col-lg-4 col-md-6">
                        <div class="hpanel">
                          <div class="panel-heading">{{company.company_name}}</div>
                          <div class="panel-body" id='panel-body'>
                          <a href="{% url 'company_detail' company.slug %}">
                            {% if company.company_img %}
                              <img src="{{company.company_img.url}}" class="img-responsive" alt="{{company.company_name}}">
                            {% else %}
                              <img src="{% static 'image/service-1.jpg' class="img-responsive" %}" alt="{{company.company_name}}">
                            {% endif %}
                          </a>
                          </div>
                          <div class="panel-footer">
                              <i class="pe-7s-display1"></i>
                              <span class="{{company.status|status_tag}}">
                                {{company.status_dict}}
                              </span>
                              <i class="fa fa-comments-o pull-right">
                                {{company.comments|length}}
                              </i>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% if company_close %}
<div class="animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-heading hbuilt">
                <a href="{% url 'status_filter' 'close' %}">
                  <i class="fa fa-trash-o text-danger"></i> SCAM
                </a>
                  <div class="panel-tools">
                    <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                    <a class="closebox"><i class="fa fa-times"></i></a>
                  </div>
                </div>
                <div class="panel-body">
                  <div class="row">
                    {% for company in company_close %}
                      <div class="col-lg-4 col-md-6">
                        <div class="hpanel">
                          <div class="panel-heading">{{company.company_name}}</div>
                          <div class="panel-body" id='panel-body'>
                          <a href="{% url 'company_detail' company.slug %}">
                            {% if company.company_img %}
                              <img src="{{company.company_img.url}}" class="img-responsive" alt="{{company.company_name}}">
                            {% else %}
                              <img src="{% static 'image/service-1.jpg' %}" class="img-responsive" alt="{{company.company_name}}">
                            {% endif %}
                          </a>
                          </div>
                          <div class="panel-footer">
                            <i class="pe-7s-display1"></i>
                            <span class="{{company.status|status_tag}}">
                              {{company.status_dict}}
                            </span>
                            <i class="fa fa-comments-o pull-right">
                              {{company.comments|length}}
                            </i>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block custom_scripts %}
<script type="text/javascript">
    $(document).ready(function(){
        $('#owl-carousel2').owlCarousel({
            loop: true,
            autoplay: true,
            responsiveClass: true,
            responsive:{
                0:{
                    items:2,
                    nav:false
                },
                400: {
                    items:2
                },
                600: {
                    items:2,
                    nav:false
                },
                800: {
                    items:2
                },
                1000: {
                    items:2
                }
            }
        });
    });
</script>
{% endblock %}
