{% extends "mlm_base_index.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}

{% block title %} {% trans "Pазместить инвестиционный проект" %} {% endblock %}

{% block content %}
{{form.media}}
<div class="animate-panel">
  <div class="row">
      <div class="col-lg-12">
          <div class="text-center m-b-xl">
              <h3>Выгодные цены для розмищения Вашых проектов</h3>
              <p>
              </p>
          </div>
          {% for p in plan %}
            <div class="hpanel">
              <div class="panel-heading hbuilt">
                  <div class="panel-tools">
                      <a class="showhide"><i class="fa fa-chevron-up"></i></a>
                      <a class="closebox"><i class="fa fa-times"></i></a>
                  </div>
                  {{p.name}}
              </div>
              <div class="panel-body">
                  <div class="text-center m-b-md">
                      <h3>Цена/Вклад</h3>
                      <i class="fa fa-dollar text-success"></i> {{p.price}} /
                      <i class="fa fa-dollar text-success"></i> {{p.contribution}}
                      <br>
                      <table class="table">
                        <thead>
                          <tr>
                            <th>Количесто постингов</th>
                            <th>Баннер в шапке</th>
                            <th>Баннер в центре</th>
                            <th>Реклама в Instagram</th>
                            <th>Реклама в Facebook</th>
                            <th>Email рассылка</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <th>
                              <i class="fa fa-pencil-square fa-2x"></i>
                              <i class="fa fa-hand-o-right fa-2x"></i>
                              <i class="fa-2x">{{p.post}}</i>
                            </th>
                            <th>
                              <i class="fa fa-picture-o fa-2x"></i>
                              <i class="fa fa-hand-o-right fa-2x"></i>
                              {% if p.banner == True %}
                                <i class="fa fa-plus-circle fa-2x text-success"></i>
                              {% else %}
                                <i class="fa fa-minus-circle fa-2x text-danger"></i>
                              {% endif %}
                            </th>
                            <th>
                              <i class="fa fa-file-picture-o fa-2x"></i>
                              <i class="fa fa-hand-o-right fa-2x"></i>
                              {% if p.banner2 == True %}
                                <i class="fa fa-plus-circle fa-2x text-success"></i>
                              {% else %}
                                <i class="fa fa-minus-circle fa-2x text-danger"></i>
                              {% endif %}
                            </th>
                            <th>
                              <i class="fa fa-instagram fa-2x"></i>
                              <i class="fa fa-hand-o-right fa-2x"></i>
                              {% if p.ad_instagram == True %}
                                <i class="fa fa-plus-circle fa-2x text-success"></i>
                              {% else %}
                                <i class="fa fa-minus-circle fa-2x text-danger"></i>
                              {% endif %}
                            </th>
                            <th>
                              <i class="fa fa-facebook-square fa-2x"></i>
                              <i class="fa fa-hand-o-right fa-2x"></i>
                              {% if p.ad_facebook == True %}
                                <i class="fa fa-plus-circle fa-2x text-success"></i>
                              {% else %}
                                <i class="fa fa-minus-circle fa-2x text-danger"></i>
                              {% endif %}
                            </th>
                            <th>
                              <i class="fa fa-envelope fa-2x"></i>
                              <i class="fa fa-hand-o-right fa-2x"></i>
                              {% if p.email_mass_message == True %}
                                <i class="fa fa-plus-circle fa-2x text-success"></i>
                              {% else %}
                                <i class="fa fa-minus-circle fa-2x text-danger"></i>
                              {% endif %}
                            </th>
                          </tr>
                        </tbody>
                      </table>
                      <br>
                      <button class="btn btn-info btn-sm collapsed" type="button" data-toggle="collapse" data-target="#collapse{{forloop.counter}}" aria-expanded="false" aria-controls="collapse{{forloop.counter}}">
                        <i class="fa fa-angle-double-down"></i> {% trans 'Описание' %} <i class="fa fa-angle-double-down"></i>
                      </button>
                  </div>
                  <div class="collapse" id="collapse{{forloop.counter}}" aria-expanded="false" style="height: 0px;">
                      <div class="well well-lg">
                        <h5 class="font-bold">{{p.name}}</h5>
                        {{p.description}}
                      </div>
                  </div>
              </div>
            </div>
          {% endfor %}
      </div>
      <hr class="m-b-xl">
  </div>
</div>

<div class="animate-panel">
    <div class="row">
    	<div class="col-md-12">
    		<div class="hpanel ">
          <div class="panel-heading hbuilt text-center">
              <h4 class="font-bold">Мониторинг</h4>
          </div>
          <div class="panel-body">
            <form method='POST' action='' enctype='multipart/form-data'>
              {% csrf_token %}
              {{ form|crispy }}
              <input type='submit' class='btn btn-primary' value='Готово' />
            </form>
          </div>
    		</div>
    	</div>
    </div>
</div>

{% endblock %}
