{% extends "mlm_base_index.html" %}

{% block title %} Результаты поиска {% endblock %}


{% block content %}

<div class="col-lg-12" align="center">
    <h2><span class="text-success">Результат за запросом: </span> {{query}}</h2>
</div>

<div class="row projects">
    {% for foo in company_search %}
        <div class="col-lg-12">
            <div class="hpanel">
                <div class="panel-body">
                    <span class="label label-success pull-right">
                        {{ foo.status_dict }}
                    </span>
                    <div class="row">
                        <div class="col-sm-8">
                            <a href="{% url 'company_detail' foo.slug %}">
                                <h4>{{ foo.company_name }}</h4>
                            </a>
                            <p>{{ foo.get_markdown|truncatechars_html:100 }}</p>
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="project-label">Минимальный вклад</div>
                                    {{ foo.min_value }}
                                </div>
                                <div class="col-sm-3">
                                    <div class="project-label">Максимальный вклад</div>
                                    {{ foo.max_value }}
                                </div>
                                <div class="col-sm-3">
                                    <div class="project-label">Дата старта</div>
                                    {{foo.date_joined|date:'d.m.Y'}}
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-4 project-info">
                            <div class="">
                              {% if foo.company_img %}
                                <img src="{{ foo.company_img.url }}" class="img-responsive" alt="">
                              {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}

    {% if company_filter.has_other_pages %}
      <ul class="pagination">
        {% if company_filter.has_previous %}
          <li><a href="?page={{ company_filter.previous_page_number }}">&laquo;</a></li>
        {% else %}
          <li class="disabled"><span>&laquo;</span></li>
        {% endif %}
        {% for i in company_filter.paginator.page_range %}
          {% if company_filter.number == i %}
            <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
          {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}
        {% if company_filter.has_next %}
          <li><a href="?page={{ company_filter.next_page_number }}">&raquo;</a></li>
        {% else %}
          <li class="disabled"><span>&raquo;</span></li>
        {% endif %}
      </ul>
    {% endif %}


</div>


{% endblock %}
