{% extends "mlm_base_index.html" %}

{% block title %} Сообщить о скаме {% endblock %}

{% block content %}

<div class="login-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Сообщения</h3>
                <small>Напишите свое сообщения в форму ниже</small>
            </div>
			<div class="hpanel">
				<div class="panel-body">
					<form action="." method="post" class="form-horizontal">
						{% csrf_token %}
						<div class="form-group">
							<div class="col-sm-12">
								<textarea name='message' class="form-control" required></textarea>
							</div>
						</div>
						<div class="form-group">
							<div class="col-sm-8">
							<button type="submit" class="btn btn-primary">Отправить</button>
							<a class="btn btn-danger" href="{% url 'company_detail' single.slug %}">Cancel</a>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}
