{% extends "mlm_base_index.html" %}
{% load static %}

{% block title %}
	Pay for company
{% endblock %}

{% block content %}

<div class="content animate-panel">
    <div class="row">
    	<div class="col-md-12">
    		<div class="hpanel plan-box">
                <div class="panel-heading hbuilt text-center">
                    <h4 class="font-bold">{{name}}</h4>
                </div>
    			<div class="panel-body">
					<form action="https://perfectmoney.is/api/step1.asp" method="post" class="form-horizontal">
						{% csrf_token %}
						<input type="hidden" name="PAYEE_ACCOUNT" value="U12927487">
						<input type="hidden" name="PAYEE_NAME" value="mlmconnect">
						<input type="text" name="PAYMENT_ID" value="" class="form-control"><br>
						<input type="text" name="PAYMENT_AMOUNT" value="" class="form-control"><br>
						<input type="hidden" name="PAYMENT_URL" value="localhost:8000">
						<input type="hidden" name="PAYMENT_URL_METHOD" value="LINK">
						<input type="hidden" name="NOPAYMENT_URL" value="mlm-connect.net">
						<input type="hidden" name="NOPAYMENT_URL_METHOD" value="LINK">
						<input type="hidden" name="BAGGAGE_FIELDS" value="">
						<input type="submit" name="PAYMENT_METHOD" value="Pay Now!" class="btn btn-success">
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}