{% extends 'mlm_base_index.html' %}
{% load markdown_deux_tags %}

{% block title %} {{blog.title}} {% endblock %}


{% block site_url %} http://www.mlm-conect.net/blog_single/{{blog.slug}} {% endblock %}
{% block title_company %} {{blog.title}} {% endblock %}
{% block site_description %} {{blog.body|markdown|truncatechars_html:200}} {% endblock %}
{% block site_img %} http://www.mlm-conect.net{{blog.image.url}} {% endblock %}

{% block scripts %}
<div id="fb-root"></div>
<script>
    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.8";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>
{% endblock %}

{% block content %}
<div class="animate-panel">
  <div class="row">
    <div class="col-md-12">
      <div class="hpanel blog-article-box">
        <div class="panel-heading" id="panel-heading">
          <h3>{{blog.title}}</h3>
          <div class="text-muted">
            {{blog.date_joined}}
          <br>
          <div class="panel-image" align="center">
            <img src="{{blog.image.url}}" class="img-responsive" alt="{{blog.title}}">
          </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="fb-like"
              data-href="http://www.mlm-connect.net/company_detail/{{single.slug}}"
              data-layout="button"
              data-action="like"
              data-size="small"
              data-show-faces="true"
              data-share="true">
          </div>
        </div>
        <div class="panel-body">
          <p>{{blog.body|markdown}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
