{% extends "mlm_base_index.html" %}
{% load static %}
{% load markdown_deux_tags %}

{% block title %} Статьи | {{ block.super }}{% endblock %}

{% block content %}
<div class="content animate-panel">
	<div class="row">
		{% for b in object_list %}
			<div class="col-md-6">
				<div class="hpanel blog-box">
					<div class="panel-heading">
						<div class="media clearfix">
            	<div class="media-body">
               	<small class="text-muted">{{b.date_joined}}</small>
            	</div>
						</div>
					</div>
					<div class="panel-image">
            <img class="img-responsive" src="{{b.image.url}}" alt="{{b.title}}">
            <div class="title">
              <a href="{% url 'blog_single' b.slug %}"> <h4>{{b.title}}</h4></a>
            </div>
            </div>
            <div class="panel-body">
	            <p>
                {{b.body|markdown|truncatechars_html:200}}
	            </p>
	            <a href="{% url 'blog_single' b.slug %}" class="btn btn-primary btn-xs">Читать дале...</a>
        	</div>
        </div>
			</div>
		{% endfor %}
	</div>
</div>
{% endblock %}
