{% extends "mlm_base_index.html" %}
{% load markdown_deux_tags %}

{% block title %} Часто задаваемые вопросы | {{ block.super }}{% endblock %}

{% block content %}
<div class="normalheader transition animated fadeIn">
    <div class="hpanel">
        <div class="panel-body">
            <a class="small-header-action" href="">
                <div class="clip-header">
                    <i class="fa fa-arrow-up"></i>
                </div>
            </a>
            <h2 class="font-light m-b-xs">
                FAQ
            </h2>
            <small>FAQ страница - собрание часто задаваемых вопросов</small>
        </div>
    </div>
</div>
<div class="content animate-panel">
    <div class="row">
        <div class="col-lg-12">
            <div class="hpanel panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel-body">
                    <h4 class="m-t-none m-b-none">Общие вопросы</h4>
                    <small class="text-muted">Все общие вопросы работы мониторинга и инвестиционых компаний.</small>
                </div>
                {% for faq in object_list %}
                <div class="panel-body">
                    <a data-toggle="collapse" data-parent="#accordion" href="#q{{forloop.counter}}" aria-expanded="true">
                        <i class="fa fa-chevron-down pull-right text-muted"></i>
                        {{faq.ask|markdown}}
                    </a>
                    <div id="q{{forloop.counter}}" class="panel-collapse collapse">
                        <hr>
                        {{faq.answer|markdown}}
                    </div>
                </div>
                {% endfor %}

            </div>
        </div>
    </div>
</div>
{% endblock %}
