.wmd-panel {
	margin-right: 0px !important;
	margin-left: 0px !important;
	text-align: center !important;
}

#panel-body {
	padding: 0px !important;
	text-align: center !important;
}

#panel-heading {
	padding: 5px !important;
}

#logo.light-version{
	/*background-image: url(../image/log_mlm.png);*/
	background-color: #fff;
	padding: 5px 0px 0px 0px;
}

textarea {
	resize: vertical;
}

#header-top {
    background-color: #f8f8f8;
    border-bottom: 1px solid #eee;
}


.top-bar {
    min-height: 45px;
    line-height: 45px;
}

.top-bar a {
    margin-right: 10px;
    font-size: 13px;
    color: #888;
}

.top-bar a i {
    margin-right: 5px;
}

.top-bar .simple-1right a i {
    margin-right: 5px;
    color: #999;
    width: 20px;
    height: 25px;
    display: inline-block;
    background-color: transparent;
    text-align: center;
    line-height: 25px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
}

span.colored-text:hover {
	color: #9b59b6;
}

.top-social {
    margin: 0;
    padding: 0;
}

.top-social li {
    padding: 0;
}

.top-social li a {
    font-size: 14px;
    color: #888;
    margin: 0px;
    display: block;
}

.top-social li a i {
    width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    margin: 0px;
    background-color: transparent;
    color: #777;
    border: 1px solid #999;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.top-social li a i:hover{
    color: #fff;
    background-color: #252525;
    border-color: #252525;
}

.colored-text {
    color: #4f82e9;
}


.slick-slide img {
	width: 100%;
}
