{% extends "mlm_base_index.html" %}
{% load static %}

{% block title %} Chat {% endblock %}

{% block content %}


<div class="content animate-panel">
	<div class="row">
		<div class="col-md-12">
			<div class="hpanel">
				<div class="panel-heading hbuilt">
					<div class="panel-tools">
						<a class="closebox"><i class="fa fa-times"></i></a>
					</div>
					Чат
				</div>
				
				<div id="chat-body" class="panel-body no-padding">
					<div id="msg-list-div" class="row">
						
						<ul id="msg-list" class="chat-discussion">
						{% for obj in chat %}
							{% if obj.user == user %}
								<div class="chat-message right">
									{% if obj.user.profile.avatars %}
									<img class="message-avatar" src="{{obj.user.profile.avatars.url}}">
									{% else %}
									<img class="message-avatar" src="{% static 'homer/images/a2.jpg' %}"></img>
									{% endif %}
									<div class="message">
										<a class="message-author" href="#">{{obj.user.username}}</a>
										<span class="message-date">{{obj.created}}</span>
										<span class="message-content">{{obj.message}}</span>
									</div>	
								</div>
							{% else %}
								<div class="chat-message left">
									{% if obj.user.profile.avatars %}
									<img class="message-avatar" src="{{obj.user.profile.avatars.url}}">
									{% else %}
									<img class="message-avatar" src="{% static 'homer/images/a2.jpg' %}"></img>
									{% endif %}
									<div class="message">
										<a class="message-author" href="#">{{obj.user.username}}</a>
										<span class="message-date">{{obj.created}}</span>
										<span class="message-content">{{obj.message}}</span>
									</div>	
								</div>
							{% endif %}
						{% empty %}
							<div class="chat-message right">
								<div class="message">
									
									<span class="message-content">Нет сообщений!</span>
								</div>	
							</div>
						{% endfor %}
						<script type="text/javascript">
							var chatlist = document.getElementById('msg-list-div');
							chatlist.scrollBottom = chatlist.scrollHeight;
						</script>
						</ul>
						
					</div>
				</div>
				{% if user.is_authenticated %}
				<div class="panel-footer">
					<form method="post" action="{% url 'post' %}" id="chat-form">
						<div class="input-group" id="chat-bottom">
							<textarea type="text" class="form-control" placeholder="Enter message..." name="chat-msg" id="chat-msg" rows="1"></textarea>
							<span class="input-group-btn">
								<input type="submit" id="send" class="btn btn-success" value="Отправить!">
							</span>
						</div>
					</form>
				</div>
				{% endif %}
			</div>
		</div>
	</div>
</div>

{% endblock %}

{% block custom_scripts %}
<script type="text/javascript" src="{% static 'main_js/chat.js' %}"></script>
{% endblock %}