{% load static %}
{% for obj in chat %}
	{% if obj.user == user %}
		<div class="chat-message right">
			{% if obj.user.profile.avatars %}
				<img src="{{obj.user.profile.avatars.url}}" class="message-avatar">
			{% else %}
				<img class="message-avatar" src="{% static 'homer/images/a2.jpg' %}"></img>
			{% endif %}
			<div class="message">
				<a class="message-author" href="#">{{obj.user.username}}</a>
				<span class="message-date">{{obj.created}}</span>
				<span class="message-content">{{obj.message}}</span>
			</div>	
		</div>
	{% else %}
		<div class="chat-message left">
			{% if obj.user.profile.avatars %}
				<img src="{{obj.user.profile.avatars.url}}" class="message-avatar">
			{% else %}
				<img class="message-avatar" src="{% static 'homer/images/a2.jpg' %}"></img>
			{% endif %}
			<div class="message">
				<a class="message-author" href="#">{{obj.user.username}}</a>
				<span class="message-date">{{obj.created}}</span>
				<span class="message-content">{{obj.message}}</span>
			</div>	
		</div>
	{% endif %}
{% endfor %}