<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | mlm-connect</title>
    {% load crispy_forms_tags %}
    {% load static %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'homer/vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'homervendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/bootstrap/dist/css/bootstrap.css' %}" />
    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'homer/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/styles/style.css' %}">
  </head>
  <body class="blank">
    <!-- Simple splash screen-->
    <div class="splash">
      <div class="color-line"></div>
      <div class="splash-title">
        <h1>Homer - Responsive Admin Theme</h1>
        <p>Special AngularJS Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p>
        <img src="{% static 'homer/images/loading-bars.svg' %}" width="64" height="64" />
      </div>
    </div>
    <div class="color-line"></div>
    <div class="back-link">
        <a href="/" class="btn btn-primary">Back to Dashboard</a>
    </div>
    <div class="login-container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-center m-b-md">
                    <h3>Пожалуйста войдите в систему</h3>
                    <small>Лучший мониторинг проектов</small>
                </div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="{% url 'login' %}" id="loginForm" method='post'>
                            {% csrf_token %}
                            {{form|crispy}}
                            <button type="submit" class="btn btn-success btn-block" id="#register">Войти</button>
                            <br>
                            <div class="col-md-12">
                              <div class="col-md-6">
                                <a class="btn btn-primary btn-block" href="{% url 'register' %}">Создать аккаунт</a>
                              </div>
                              <div class="col-md-6">
                                <a class="btn btn-info btn-block pull-right" href="{% url 'password_reset' %}">Забыли пароль?</a>
                              </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">
                <strong>MLM-CONNECT</strong> - Мониторинг Вашых инвестиций <br/> &copy 2017 Все права защищены
            </div>
        </div>
    </div>
    <!-- Vendor scripts -->
    <script src="{% static 'homer/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'homer/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'homer/vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'homer/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homer/vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
    <script src="{% static 'homer/vendor/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'homer/vendor/sparkline/index.js' %}"></script>
    <!-- App scripts -->
    <script src="{% static 'homer/scripts/homer.js' %}"></script>
    <script type="text/javascript">
        jQuery(function($) {
            ///// FUNCTIONS //////////
            // Toastr options
            toastr.options = {
                "debug": false,
                "newestOnTop": false,
                "positionClass": "toast-top-center",
                "closeButton": true,
                "debug": false,
                "toastClass": "animated fadeInDown",
            };
            ///// END FUNCTIONS //////


            ///// HANDLERS //////////
            $(document).on('click', '#register', function(e){
              e.preventDefault();
              toastr.info('We are not there yet, sorry :)');
            })
            ///// END HANDLERS //////


            ////// PAGE INIT /////////
            $("input").addClass('form-control').attr("required", "");
            /////////////////////////
        });
    </script>
  </body>
</html>
