<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
	<div class="modal-dialog">
	    <div class="modal-content">
	        <div class="color-line"></div>
	        <div class="modal-header text-center">
	            <h4 class="modal-title">Пользовательское соглашение</h4>
	            <small class="font-bold">Общие правила повидения и использывание ресурса</small>
	        </div>
	        <div class="modal-body">
	            <p><strong>Lorem Ipsum is simply dummy</strong> text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
	                printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting,
	                remaining essentially unchanged.</p>
	        </div>
	        <div class="modal-footer">
	            <button type="button" class="btn btn-default" data-dismiss="modal">Не принимаю</button>
	            <button type="button" class="btn btn-primary" data-dismiss="modal">Я принимаю</button>
	        </div>
	    </div>
	</div>
</div>