{% extends 'mlm_base_index.html' %}

{% load static %}
{% load markdown_deux_tags %}

{% block title %} Профиль {{user.username}} {% endblock %}





{% block content %}


<div class="animate-panel">

  <div class="row">
      <div class="hpanel hgreen">
        <div class="col-lg-6">
          <div class="panel-body">
              <div class="pull-right text-right">
                  <div class="btn-group">
                      <i class="">
                          <a href="{% url 'password_change' %}" class="btn btn-default btn-xs">
                              Сменить пароль
                          </a>
                      </i>
                  </div>
              </div>
              {% if user.profile.avatars %}
                  <img class="img-circle m-b m-t-md img-responsive" src="{{user.profile.avatars.url}}">
              {% else %}
                  <img alt="logo" class="img-circle m-b m-t-md" src="{% static 'homer/images/profile.jpg' %}">
              {% endif %}
              <div class="text-muted font-bold m-b-xs"></div>
              <p>

              </p>
          </div>
        </div>
        <div class="col-lg-6">
          <div class="panel-body">
              <dl>
                  <dt>Имя:</dt>
                  <dd>{{user.first_name}} </dd>
                  <dt>Фамилия:</dt>
                  <dd>{{user.last_name}}</dd>
                  <dt>Email:</dt>
                  <dd>{{user.email}}</dd>
              </dl>
          </div>
          <div class="panel-footer contact-footer">
              <div class="row">
                  <div class="col-md-4 border-right">
                      <div class="contact-stat"><span>Проекты: </span> <strong>{{user_company.count}}</strong></div>
                  </div>
              </div>
          </div>
        </div>
      </div>
  </div>

  <div class="hpanel">
    <ul class="nav nav-tabs">
        <li class="active">
          <a data-toggle="tab" href="#tab-1">
            Проекты
          </a>
        </li>
        {% if user.is_staff %}
          <li class=""><a data-toggle="tab" href="#tab-2">Сообщения</a></li>
        {% endif %}
    </ul>
    <div class="tab-content">
        <div id="tab-1" class="tab-pane active">
            <div class="panel-body">
                <strong>Мои компании</strong>
                {% if user_company %}
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th>Компания </th>
                            <th>Дата старта</th>
                            <th>Статус</th>
                            <th>Статус публикации</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for c in user_company %}
                        <tr>
                            <th>
                                <a href="{% url 'company_detail' c.slug %}">
                                    {{c.company_name}}
                                </a>
                            </th>
                            <th>{{c.date_joined|date:'d.m.Y'}}</th>
                            <th>
                                {% if c.status == 'active' %}
                                    <i class="text-success">Платит</i>
                                {% elif c.status == 'delays' %}
                                    <i class="text-warning">Задержывает</i>
                                {% elif c.status == 'expectation' %}
                                    <i class="text-info">Ожидает запуска</i>
                                {% else %}
                                    <i class="text-danger">СКАМ</i>
                                {% endif %}

                            </th>

                            <th>
                                {% if c.draft == 'publish' %}
                                    <i class="fa fa-check text-success"> {{c.draft_dict}}</i>
                                {% else %}
                                    <i class="fa text-warning"> {{c.draft_dict}}</i>
                                {% endif %}
                            </th>
                        </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
                {% else %}
                    : У вас нет компаний!
                {% endif %}
            </div>
        </div>
        <div id="tab-2" class="tab-pane">
            <div class="panel-body no-padding">


                <div class="chat-discussion" style="height: auto">
                {% for m in message %}
                    <div class="chat-message">
                        <img class="message-avatar" src="{% static 'homer/images/a1.jpg' %}" alt="" >
                        <div class="message">
                            <a class="message-author" href="#"> {{m.user.username}} </a>
                            <span class="message-date"> {{m.timestamp}} </span>
                                <span class="message-content">
                                {{m.message|markdown}}
                                </span>

                            <div class="m-t-md">
                                - <strong> {{m.company}} </strong>
                            </div>
                        </div>
                    </div>
                {% endfor %}

                </div>

            </div>
        </div>
    </div>
  </div>




</div>
{% endblock %}
