<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Login | mlm-connect</title>
    {% load crispy_forms_tags %}
    {% load static %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'homer/vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'homervendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/bootstrap/dist/css/bootstrap.css' %}" />
    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'homer/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/styles/style.css' %}">
  </head>
  <body class="blank">
    <!-- Simple splash screen-->
    <div class="splash">
      <div class="color-line"></div>
      <div class="splash-title">
        <h1>Homer - Responsive Admin Theme</h1>
        <p>Special AngularJS Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p>
        <img src="{% static 'homer/images/loading-bars.svg' %}" width="64" height="64" />
      </div>
    </div>
    <div class="color-line"></div>
    <div class="back-link">
        <a href="/" class="btn btn-primary">Back to Dashboard</a>
    </div>

<div class="register-container">
    <div class="row">
        <div class="col-md-12">
            <div class="text-center m-b-md">
                <h3>Регистрация</h3>
                <small>Full suported AngularJS WebApp/Admin template with very clean and aesthetic style prepared for your next app. </small>
            </div>
            <div class="hpanel">
                <div class="panel-body">
                    <form action="{% url 'register' %}" id="loginForm" method="post">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div>
                            <input type="checkbox" id='box1'>
                            <label for="box1">Я согласен с условиями</label>
                            <a data-toggle="modal" data-target="#myModal" href="#myModal">пользовательского соглашения</a>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-success" id="form_valid">
                                Зарегистрироваться
                            </button>
                            <a class="btn btn-default" href='/'>Cancel</a>
                        </div>
                        <!-- <button type="button" data-toggle='modal' data-target="#myModal">Test</button> -->
                        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-hidden="true" style="display: none;">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="color-line"></div>
                                    <div class="modal-header text-center">
                                        <h4 class="modal-title">Пользовательское соглашение</h4>
                                        <small class="font-bold">Общие правила повидения и использывание ресурса</small>
                                    </div>
                                    <div class="modal-body">
                                        <p>На мониторинге <strong>MLM-CONNECT.NET</strong> вы найдете платящие хайпы,игры с выводом денег, МЛМ-компании ,новые хайпы, хайпы обещающие самые высокие проценты по вкладам, также здесь вы можете найти лучшие высокодоходные проекты, вложить деньги под высокий процент, найти выгодные вклады, проекты куда инвестировать деньги, статьи о заработке в интернете и о том куда инвестировать деньги Выбирайте для себя удобный способ как заработать в интернете, партнерские программы и куда инвестировать деньги. <br> Высокодоходные инвестиционные проекты по заработку в интернете не предсказуемы. <br>
                                        <strong> Администрация не несет ответственности за риски связанные с инвестированием в хайп проекты представленные на мониторинге.
                                        </strong>
                                        </p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Не принимаю</button>
                                        <button type="button" class="btn btn-primary" data-dismiss="modal">Я принимаю</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <strong>MLM-CONNECT</strong> - Мониторинг вашых проектов <br> 2017 Все права защищены
        </div>
    </div>
</div>
<!-- Vendor scripts -->
<script src="{% static 'homer/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'homer/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'homer/vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'homer/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homer/vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
<script src="{% static 'homer/vendor/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'homer/vendor/sparkline/index.js' %}"></script>
<!-- App scripts -->
<script src="{% static 'homer/scripts/homer.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function(){
        $("#form_valid").prop('disabled', true);
        $("#box1").change(function(){
            $("#form_valid").prop('disabled', !this.checked);
        })
    });
</script>
<script type="text/javascript">
    jQuery(function($) {
        ///// FUNCTIONS //////////
        // Toastr options
        toastr.options = {
            "debug": false,
            "newestOnTop": false,
            "positionClass": "toast-top-center",
            "closeButton": true,
            "debug": false,
            "toastClass": "animated fadeInDown",
        };
        ///// END FUNCTIONS //////


        ///// HANDLERS //////////
        $(document).on('click', '#register', function(e){
          e.preventDefault();
          toastr.info('We are not there yet, sorry :)');
        })
        ///// END HANDLERS //////


        ////// PAGE INIT /////////
        $("input").addClass('form-control').attr("required", "");
        /////////////////////////
    });
</script>
</body>
</html>
