{% extends "mlm_base_index.html" %}
{% load crispy_forms_tags %}

{% block title %} Редактировать профиль {% endblock %}

{% block content %}

    <div class="animate-panel">
        <div class="row">
            <div class="col-lg-12">
            	<div class="font-bold m-b-sm">
            		Сменить имя
            	</div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="{% url 'edit_user' %}" class="form-horizontal" method="POST" enctype="multipart/form-data">
                        	{% csrf_token %}

                            {% for field in user_form %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                    	{{field.label}} {{ field.errors|cut:'ul'|cut:'li'|cut:'< class="errorst"><>'}}
                                	</label>
                                    <div class="col-sm-10">
                                        {{field}}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="button" class="btn btn-default" onclick="window.history.back();">Отмена</button>
                                    <button class="btn btn-primary" type="submit">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-lg-12">
            	<div class="font-bold m-b-sm">
            		Сменить фото
            	</div>
                <div class="hpanel">
                    <div class="panel-body">
                        <form action="{% url 'edit_foto' %}" class="form-horizontal" method="POST" enctype="multipart/form-data">
                        	{% csrf_token %}

                            {% for field in profile_form %}
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">
                                    	{{field.label}} {{ field.errors|cut:'ul'|cut:'li'|cut:'< class="errorst"><>'}}
                                	</label>
                                    <div class="col-sm-10">
                                        {{field}}
                                    </div>
                                </div>
                            {% endfor %}

                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <div class="col-sm-8 col-sm-offset-2">
                                    <button type="button" class="btn btn-default" onclick="window.history.back();">Отмена</button>
                                    <button class="btn btn-primary" type="submit">Сохранить</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
