{% load static %}
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title -->
    <title>Мониторинг инвестиций</title>

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->

    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'homer/vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/bootstrap/dist/css/bootstrap.css' %}" />

    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'homer/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/styles/style.css' %}">

</head>
<body class="blank">

<!-- Simple splash screen-->
<div class="splash"> <div class="color-line"></div><div class="splash-title"><h1>MLM-CONNECT</h1><p>Мониторинг Вашых инвестиций. </p><img src="images/loading-bars.svg" width="64" height="64" /> </div> </div>
<!--[if lt IE 7]>
<p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->

<div class="color-line"></div>

<div class="back-link">
    <a href="/" class="btn btn-primary">Back to Dashboard</a>
</div>
<div class="error-container">
    <i class="pe-7s-way text-success big-icon"></i>
    <h1>404</h1>
    <strong>Page Not Found</strong>
    <p>
        Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button on your browser or try found something else in our app.

    </p>
    <a href="/" class="btn btn-xs btn-success">Go back to dashboard</a>
</div>


<!-- Vendor scripts -->
<script src="{% static 'homer/vendor/jquery/dist/jquery.min.js' %}"></script>
<script src="{% static 'homer/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
<script src="{% static 'homer/vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
<script src="{% static 'homer/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
<script src="{% static 'homer/vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
<script src="{% static 'homer/vendor/iCheck/icheck.min.js' %}"></script>
<script src="{% static 'homer/vendor/sparkline/index.js' %}"></script>

<!-- App scripts -->
<script src="{% static 'homer/scripts/homer.js' %}"></script>

</body>
</html>
