<!-- Header -->
{% load static %}
<div id="header-top" class="hidden-xs">
    <div class="container">
        <div class="top-bar">
            <div class="pull-left sample-1right">
                <a href="{% url 'notification:feedback_view' %}">
                    <i class="fa fa-envelope"></i>
                    Написать нам: <span class="colored-text">mlmconnect01@gmail.com</span>
                </a>
            </div>
            <div class="pull-right">
                <ul class="list-inline top-social">
                    <li>Мы в социальных сетях:</li>
                    <li>
                        <a href="https://www.facebook.com/groups/monitoringmlmconnect/" target="_blank">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </li>
                    <li>
                        <a href="https://vk.com/investing777" target="_blank">
                            <i class="fa fa-vk"></i>
                        </a>
                    </li>
                    <li>
                      <a href="https://www.instagram.com/mlmconnect/" target="_blank">
                        <i class="fa fa-instagram"></i>
                      </a>
                    </li>
                    <li>
                      <a href="https://twitter.com/mlmconnect01?lang=ru" target="_blank">
                        <i class="fa fa-twitter"></i>
                      </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="header">
    <div class="color-line">
    </div>
    <div id="logo" class="light-version">
        <a href="/">
        	<img src="{% static 'image/connect-05.png' %}" class="img-responsive" style="max-width: 54%; margin-left:20px;">
        </a>
    </div>
    <nav role="navigation">
        <div class="header-link hide-menu"><i class="fa fa-bars"></i></div>
        <div class="small-logo">
            <!--<span class="text-primary">MLM-CONNECT</span>-->
            MLM-CONNECT
        </div>
        <form role="search" class="navbar-form-custom" method="get" action="{% url 'search' %}">
        	{% csrf_token %}
            <div class="form-group">
                <input type="text" placeholder="Поиск" class="form-control" name="q">
            </div>
        </form>
        <div class="mobile-menu">
            <button type="button" class="navbar-toggle mobile-menu-toggle" data-toggle="collapse" data-target="#mobile-collapse">
                <i class="fa fa-chevron-down"></i>
            </button>

            <div class="collapse mobile-navbar" id="mobile-collapse">
                <ul class="nav navbar-nav">
                {% if user.is_authenticated %}
                  <li>
                    <a class="" href="{% url 'profile' %}">Профиль</a>
                  </li>
                  <li>
                    <a class="" href="{% url 'logout' %}">Выход</a>
                  </li>
                {% else %}
                  <li>
                    <a class="" href="{% url 'login' %}">Вход</a>
                  </li>
                {% endif %}
                </ul>
            </div>
        </div>
        <div class="navbar-right">
            <ul class="nav navbar-nav no-borders">
                {% if user.is_staff %}
                <li class="dropdown">
                  <a class="dropdown-toggle label-menu-corner" href="#" data-toggle="dropdown" aria-expanded="false">
                    <i class="pe-7s-speaker"></i>
                    <span class="label label-success">
                      {{request_company.count}}
                    </span>
                  </a>
                  <ul class="dropdown-menu hdropdown notification animated flipInX">
                    {% for obj in request_company %}
                      <li>
                        <a>
                          <span class="label label-success">NEW</span> {{obj.company_name}}
                        </a>
                      </li>
                    {% endfor %}
                    <li class="summary"><a href="#">Смотреть больше</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <a href="#" data-toggle="dropdown" aria-expanded="false" class="dropdown-toggle">
                    <i class="pe-7s-mail"></i>
                  </a>
                  <ul class="dropdown-menu hdropdown notification animated flipInx">
                    <li class="">
                      <a href="{% url 'notification:notification_view' %}">Email</a>
                    </li>
                  </ul>
                </li>
                {% endif %}
                <li class="dropdown">
                    <a class="dropdown-toggle" href="#" data-toggle="dropdown">
                      <i class="pe-7s-keypad"></i>
                    </a>
                    <div class="dropdown-menu hdropdown bigmenu animated flipInX">
                      <table>
                          <tbody>
                          <tr>
                            <td>
                              <a href="{% url 'company_all' %}">
                                <i class="pe pe-7s-portfolio text-info"></i>
                                <h5>Все проекты</h5>
                              </a>
                            </td>
            								<td>
            									<a href="{% url 'company_registration' %}">
            										<i class="pe pe-7s-monitor text-warning"></i>
            										<h5>Добавить проект</h5>
            									</a>
            								</td>
                            <td>
                                <a href="{% url 'notification:feedback_view' %}">
                                    <i class="pe pe-7s-users text-success"></i>
                                    <h5>Обратная связь</h5>
                                </a>
                            </td>
                          </tr>
                          <tr>
                            <td>
                              <a href="{% url 'chat' %}">
                                <i class="pe pe-7s-comment text-info"></i>
                                <h5>Chat</h5>
                              </a>
                            </td>
            								<td>
            									<a href="{% url 'add_banner' %}">
            										<i class="pe pe-7s-albums text-warning"></i>
            										<h5>Добавить баннер</h5>
            									</a>
            								</td>
                            <td>
                              <a href="{% url 'faq' %}">
                                <i class="pe pe-7s-box1 text-success"></i>
                                <h5>F.A.Q</h5>
                              </a>
                            </td>
                          </tr>
                          </tbody>
                      </table>
                    </div>
                </li>
                <li>
                  <a href="#" id="sidebar" class="right-sidebar-toggle">
                    <i class="pe-7s-upload pe-7s-news-paper"></i>
                  </a>
                </li>
                {% if user.is_authenticated %}
                <li class="dropdown">
                	<a class="dropdown-toggle" href="#" data-toggle="dropdown">
                    {{user.username}}
                  </a>
                	<ul class="dropdown-menu hdropdown animated flipInX">
                		<li>
                    		<a href="{% url 'profile' %}">
                    			<i class="fa fa-home"></i> Профиль
                    		</a>
                    	</li>
                    	<li>
                    		<a href="{% url 'settings' %}">
                    			<i class="fa fa-cog"> Настройки</i>
                    		</a>
                    	</li>
                		<li>
	                		<a href="{% url 'logout' %}">
	                        	<i class="pe-7s-upload pe-rotate-90"></i> Выход
	                    	</a>
                    	</li>
                	</ul>
                </li>
                {% else %}
                <li class="dropdown">
                    <a href="{% url 'login' %}">
                        <i class="pe-7s-upload pe-rotate-90"></i>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </nav>
</div>
