{% load current_tags %}

<div class="col-lg-2 col-md-3">
  <div class="hpanel">
    <a href="{% url 'company_registration' %}" class="btn btn-success btn-block">
      Добавить проект
    </a>
  </div>



  <div class="hpanel hidden-sm">
    <div class="panel-heading hbuilt">
      <div class="panel-tools">
        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        <a class="closebox"><i class="fa fa-times"></i></a>
      </div>
      <a href="{% url 'blog' %}">
        <i class="fa fa-news"></i> Последнии статьи
      </a>
    </div>
    <div class="panel-body no-padding">
      <ul class="list-group">
        {% for blog in last_blog %}
        <a href="{% url 'blog_single' blog.slug %}">
          <li class="list-group-item">{{blog.title}}</li>
        </a>
        {% endfor %}
      </ul>
    </div>
  </div>



</div>
