<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block title %}mlm-connect{% endblock %}</title>
    {% load crispy_forms_tags %}
    {% load static %}
    {% load i18n %}
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- Vendor styles -->
    <link rel="stylesheet" href="{% static 'homer/vendor/fontawesome/css/font-awesome.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/metisMenu/dist/metisMenu.css' %}" />
    <link rel="stylesheet" href="{% static 'homervendor/animate.css/animate.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/vendor/bootstrap/dist/css/bootstrap.css' %}" />
    <!-- App styles -->
    <link rel="stylesheet" href="{% static 'homer/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/fonts/pe-icon-7-stroke/css/helper.css' %}" />
    <link rel="stylesheet" href="{% static 'homer/styles/style.css' %}">
  </head>
  <body class="blank">
    <!-- Simple splash screen-->
    <div class="splash">
      <div class="color-line"></div>
      <div class="splash-title">
        <h1>Homer - Responsive Admin Theme</h1>
        <p>Special AngularJS Admin Theme for small and medium webapp with very clean and aesthetic style and feel. </p>
        <img src="{% static 'homer/images/loading-bars.svg' %}" width="64" height="64" />
      </div>
    </div>
    <div class="color-line"></div>
    <div class="back-link">
        <a href="/" class="btn btn-primary">Back to Dashboard</a>
    </div>
    {% block breadcrumbs %}
    {% endblock %}
    {% block content %}

    {% endblock %}
    <!-- Vendor scripts -->
    <script src="{% static 'homer/vendor/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'homer/vendor/jquery-ui/jquery-ui.min.js' %}"></script>
    <script src="{% static 'homer/vendor/slimScroll/jquery.slimscroll.min.js' %}"></script>
    <script src="{% static 'homer/vendor/bootstrap/dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'homer/vendor/metisMenu/dist/metisMenu.min.js' %}"></script>
    <script src="{% static 'homer/vendor/iCheck/icheck.min.js' %}"></script>
    <script src="{% static 'homer/vendor/sparkline/index.js' %}"></script>
    <!-- App scripts -->
    <script src="{% static 'homer/scripts/homer.js' %}"></script>
    {% block custom_scripts %}
    {% endblock %}
</body>
</html>
