
<aside id="menu" style="top: 133px;">
  <div id="navigation">
    <ul class="nav" id="side-menu">
      <li class="active">
        <a href="{% url 'index' %}"> <span class="nav-label">Главная</span> <span class="label label-success pull-right"></span> </a>
      </li>
      <li>
        <a href="#"><span class="nav-label">Категории</span><span class="fa arrow"></span> </a>
        <ul class="nav nav-second-level collapse out" aria-expanded="true">
          {% for category in category_list %}
            <li><a href="{% url 'company_filter' category.id %}">{{category.name}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="#"><span class="nav-label">Листинг</span><span class="fa arrow"></span></a>
        <ul class="nav nav-second-level collapse out" aria-expanded="true">
          {% for value in plan %}
            <li><a href="{% url 'listing' value.id %}">{{value.name}}</a></li>
          {% endfor %}
        </ul>
      </li>
      <li>
        <a href="{% url 'blog' %}"> <span class="nav-label">Статьи</span><span class="label label-success pull-right">NEW</span> </a>
      </li>
      {% if user.is_staff %}
        <li>
          <a href="{% url 'admin:index' %}">Admin</a>
        </li>
        {% endif %}
    </ul>
  </div>
</aside>
