{% load current_tags %}

<div class="col-lg-3 col-md-3">
  <div class="hpanel">
    <a href="{% url 'company_registration' %}" class="btn btn-success btn-block">Добавить проект</a>
  </div>
  <!-- <div class="hpanel">
    <div class="panel-heading hbuilt">
      <div class="panel-tools">
          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
          <a class="closebox"><i class="fa fa-times"></i></a>
      </div>
      <i class="fa fa-list"></i> Мониторинг
    </div>

    <div class="panel-body">
      <div class="panel-group" id="accordion">
        {% for category in category_list %}
          <div class="panel panel-default">
            <div class="panel-heading" id="heading{{forloop.counter}}">
              <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapse{{forloop.counter}}">
                    {{category.name}}
                </a>
              </h4>
            </div>
            <div id="collapse{{forloop.counter}}" class="panel-collapse collapse"  aria-labelledby="heading{{forloop.counter}}">
              <div class="panel-body no-padding">
                {% for s,i in status %}
                  <div class="list-group">
                    <a class="list-group-item" href="{% url 'category_filter' category.id s %}">
                      <span class="badge {{s|color_tag}}">
                        {{category|monitoring:s}}
                      </span>
                      {{i}}
                    </a>
                  </div>
                {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}
      </div>
    </div>
  </div> -->
  <div class="hpanel">
    <div class="panel-heading hbuilt">
      <div class="panel-tools">
              <a class="showhide"><i class="fa fa-chevron-up"></i></a>
              <a class="closebox"><i class="fa fa-times"></i></a>
            </div>
      <i class="fa fa-list"></i> Мониторинг
    </div>
    <div class="panel-body no-padding">
      <ul class="list-group" id='accordion'>
        {% for category in category_list %}
            <li class="list-group-item" id="monitoring{{forloop.counter}}" role="tablist">
            <h4 class="panel-title">
              <a href="#collapse{{forloop.counter}}"
                data-toggle="collapse"
                data-parent="#accordion">
                {{category.name}}
              </a>
            </h4>
            <ul class="list-group panel-collapse collapse"
                id="collapse{{forloop.counter}}"
                role="tabpanel"
                aria-labelledby='monitoring{{forloop.counter}}'>
              {% for s,i in status %}
                <li class="list-group-item">
                  <a href="{% url 'category_filter' category.id s %}">
                    <span class="badge {{s|color_tag}}">
                      {{category|monitoring:s}}
                    </span>
                    {{i}}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="hpanel">
    <div class="panel-heading hbuilt">
      <div class="panel-tools">
          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
          <a class="closebox"><i class="fa fa-times"></i></a>
      </div>
      <i class="fa fa-money text-success"></i> ПОСЛЕДНИЕ ВЫПЛАТЫ
    </div>
    <div class="panel-body no-padding">
      <div class="list-group">
      {% for company in payment %}
        <a href="{% url 'company_detail' company.company.slug %}" class="list-group-item">
          <h5 class="list-group-item-heading">{{company.company.company_name}}</h5>
          <p class="list-group-item-text">
            <span class="badge badge-success">{{company.value}}</span>
            <small class="">{{company.timestamp}}</small>
          </p>
        </a>
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="hpanel">
    <div class="panel-heading hbuilt">
      <i class="fa fa-rub text-success"></i> РЕКЛАМА
    </div>
    <div class="panel-body">
      <center>
        <a href="https://linkslot.ru/link.php?id=156496" target="_blank">
          Купить ссылку здесь за
          <span id="linprice_156496"></span>
          руб.
        </a>
        <div id="linkslot_156496" style="margin: 10px 0;">
          <script src="https://linkslot.ru/lincode.php?id=156496" async></script>
        </div>
        <a href="https://linkslot.ru/?ref=hyipmonitoring" target="_blank">
          Поставить к себе на сайт
        </a>
      </center>
    </div>
  </div>
  <div class="hpanel">
    <div class="panel-heading hbuilt">
      <div class="panel-tools">
          <a class="showhide"><i class="fa fa-chevron-up"></i></a>
          <a class="closebox"><i class="fa fa-times"></i></a>
      </div>
      <i class="fa fa-history"></i> Последние скамы
    </div>
    <div class="panel-body no-padding">
      <div class="list-group">
      {% for company in company_list %}
        {% if company.status == 'close' %}
          <a href="{% url 'company_detail' company.slug %}" class="list-group-item">
            <h5 class="list-group-item-heading">{{company.company_name}}</h5>
            <p class="list-group-item-text">
              <span class="badge badge-danger">SCAM</span>
              <small class="">{{company.update|date:'SHORT_DATE_FORMAT'}}</small>
            </p>
          </a>
        {% endif %}
      {% endfor %}
      </div>
    </div>
  </div>
  <div class="hpanel">
    <div class="panel-body" align="center">
        <div class="down-banner">
            {% for down in banner %}
                {% if down.pay == '1' %}
                    {{down.img_url|safe}}
                {% endif %}
            {% endfor %}
        </div>
    </div>
  </div>
  <div class="hpanel">
    <div class="panel-heading hbuilt">
      <div class="panel-tools">
        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        <a class="closebox"><i class="fa fa-times"></i></a>
      </div>
      <i class="pe pe-7s-display1 text-success"></i>
      Статистика
    </div>
    <div class="panel-body no-padding" align="center">
      <ul class="list-group">
        <li class="list-group-item">
          <div id="nlx"></div>
        </li>
        <li class="list-group-item">
          <span id="hotlog_counter"></span>
          <span id="hotlog_dyn"></span>
          <noscript>
            <a href="http://click.hotlog.ru/?2551119" target="_blank">
              <img src="http://hit2.hotlog.ru/cgi-bin/hotlog/count?s=2551119&im=407" border="0" alt="HotLog" title="HotLog">
            </a>
          </noscript>
        </li>
        <li class="list-group-item">
          <span id="openstat1"></span>
        </li>
        <li class="list-group-item">
          <span id="top100_widget"></span>
          <noscript>
            <img src="//counter.rambler.ru/top100.cnt?pid=4494629" alt="Топ-100" />
          </noscript>
        </li>
      	<li class="list-group-item">
      		<script type="text/javascript">
      			document.write("<a href='//www.liveinternet.ru/click' "+
      "target=_blank><img src='//counter.yadro.ru/hit?t28.6;r"+
      escape(document.referrer)+((typeof(screen)=="undefined")?"":
      ";s"+screen.width+"*"+screen.height+"*"+(screen.colorDepth?
      screen.colorDepth:screen.pixelDepth))+";u"+escape(document.URL)+
      ";"+Math.random()+
      "' alt='' title='LiveInternet: показано количество просмотров и"+
      " посетителей' "+
      "border='0' width='88' height='120'><\/a>")
      		</script>
      	</li>
        <li class="list-group-item">
           <!-- Yandex.Metrika informer -->
              <a href="https://metrika.yandex.ru/stat/?id=42728249&amp;from=informer"
              target="_blank" rel="nofollow"><img src="https://informer.yandex.ru/informer/42728249/3_0_20EC86FF_00CC66FF_0_pageviews"
              style="width:88px; height:31px; border:0;" alt="Яндекс.Метрика" title="Яндекс.Метрика: данные за сегодня (просмотры, визиты и уникальные посетители)" class="ym-advanced-informer" data-cid="42728249" data-lang="ru" /></a>
            <!-- /Yandex.Metrika informer -->
        </li>
        <li class="list-group-item">
          <a href="http://yandex.ru/cy?base=0&amp;host=http://mlm-connect.net"><img src="http://www.yandex.ru/cycounter?мой_сайт" width="88" height="31" alt="Индекс цитирования" border="0" /></a>
        </li>
      </ul>
    </div>
  </div>
  <div class="hpanel">
    <div class="panel-heading hbuilt">
      <div class="panel-tools">
        <a class="showhide"><i class="fa fa-chevron-up"></i></a>
        <a class="closebox"><i class="fa fa-times"></i></a>
      </div>
      <i class="pe pe-7s-display1 text-success"></i>
        Конвертер валют
    </div>
    <div class="panel-body no-padding" align="center">
      <iframe height="375" width="220" src="https://ssltools.forexprostools.com/currency-converter/index.php?from=17&to=12&force_lang=7">
      </iframe><br />
      <table width="197">
      	<tr>
      		<td>
      			<span style="font-size: 11px;color: #333333;text-decoration: none;">Конвертер валют от <a href="https://ru.investing.com/" rel="nofollow" target="_blank" style="font-size: 11px;color: #06529D; font-weight: bold;" class="underline_link">Investing.com Россия</a>.</span>
      		</td>
      	</tr>
      </table>
    </div>
  </div>
</div>
