{% extends "mlm_base_index.html" %}
{% block title %}
  Contact | {{ block.super }}
{% endblock %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block content %}
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="hpanel">
      <div class="panel-body">
        <form class="form-group" action="" method="post">
          {% csrf_token %}
          {{ form|crispy }}
          <button type="submit" class="btn btn-success">
            {% trans "Отправить" %}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
