{% extends "mlm_base_index.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}
  Notification | {{ block.super }}
{% endblock %}
{% block content %}
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <div class="hpanel">
        <div class="panel-body">
          <form class="form-group" action="" method="post">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="btn btn-primary">
              {% trans "Отправить" %}
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
